.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 12fr auto;
  height: 100vh;
  box-sizing: border-box;

  .header {
    grid-area: 1 / 1 / 2 / 2;
  }

  .main {
    grid-area: 2 / 1 / 3 / 2;
  }

  .footer {
    grid-area: 3 / 1 / 4 / 2;
  }

  // display: grid;
  // grid-auto-flow: row; // change direction of the grid from column to row, so top to bottom
  // grid-template-rows: auto 1fr auto;
  // align-content: space-between;
  // height: 100vh; // vh is basically the percentage of the screen so 100vh is 100% of the vertical area - vw does the same for width
  // box-sizing: border-box; // i added this because i was using borders before i realised that firefox will do that for you if you click grid in inspect, unlike chrome the lines stay there even if you navigate away.
}
